@font-face {
    font-family: 'norsebold';
    src: url('Norse-Bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    height: 100%;
    background: #000;
}

div#image-sidebar {
    background-image: url('mike-marrah-gRB4Euk4BYQ-unsplash.jpg');
    background-position: center;
    background-size: 100vh;
    background-repeat: no-repeat;
    width: 30vw;
    height: 100vh;
}

div.right {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

  font: 1em 'norsebold', monospace;
  color: white;
    
}

div#main {
    height: 32.5vh;
}

form {
    height: 25vh;
}

footer {
    margin-top: auto;
   
    
}